.logo {
  width: 7%;
  height: 7%;
  padding: 0.5%;
}
.button{
  border-radius: 3px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 2rem;
  padding: 0 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0.7;
  margin: 10px;
  margin-left: 10%;
  margin-top: 2%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel-caption {
  font-size: 1.9rem;
}

.flight {
  margin-left: 35%;
  margin-bottom: 5%;
}

