body
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/flimg.jpeg);
  background-size: cover;
  background-position: center;
}
.book-form{
  width: 370px;
  border: 1px solid #ced4da;
  margin: 10% auto 0;
  background-color: transparent;
}
.form-control
{
  margin:auto;

}
.radio-but{
  margin: 0 20px;
}
.radio-but .btn{
  margin: 20px 10px 20px 0;
}
.radio-but .btn::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: aliceblue;
    position: relative;
    display: inline-block;
    border: 3px solid aliceblue;
    visibility: visible;
    border-radius: 50%;
}
.radio-but .btn:checked::after
{
  content: '';
  background-color: #000;
  transition: 0.5s;
}
.radio-but span
{
  color: white;
  margin-right: 6px;
  font-size: 15px;
}
.Booking-tab
{
  padding: 0 20px 20px;
}
.Booking-tab label
{
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}
input::placeholder
{
  color: #fff !important;
  width: 90px!important;
}
.input-grp
{
  width: 152px;
  display: inline-block;
}
.form-control
{
  width: 100% !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
}
.select-date:-webkit-inner-spin-button,
.select-date::-webkit-outter-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.select-date::-webkit-calender-picker-indicator
{
  background: transparent !important;
}
.Custom-Select
{
  color: #fff !important;
  font-size: 12px !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  height: 30px !important;
  width: 120px !important;
}
.Custom-Select option
{
  color: #333;
}
.flight{
  color: #fff !important;
  width: 100% !important;
  padding: 9px 0 !important;
  font-size: 12px !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  margin-left: 70% !important;
}
.flight:hover
{
  background: #fff !important;
  color: #000 !important;
  transition: 0.5s;
}
.field{
  width: 120px !important;
}
.info{
  background-color: #151515;
  width: 100%;
  border: 1px solid ;
  margin: 10% auto 0%;
  float: bottom;
  padding:5% 10% 0;
  text-align: center;

}
.logo{
  width: 100%;
  height: 60px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.foot{
  text-decoration: none;
  color: #f7f3e9;
  margin: 4% 2%;
}
#sb{
  margin-bottom:  5%;
}
#ss{
  margin-bottom: 2.5%;
}
.carousel-inner{
  width: 60%;
  height: 10%;
}
#ci{
  width: 60%;
  height: 50%;
}

.testimonials-item{
  padding:7% 15%;

}
.nol{

  font-family: "Montserrat-bold";
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
  padding:7% 15% 0;

}
.test-img{
  border-radius: 100%;
  width:10%;
  margin:6%;
}
.testimonials{
  background-color: black;
}
.input-grp2{
  font-size: 12px;
  padding: 2% auto 4%;
  margin: 2% auto 4%;
}
.codes{
  color: white;
}
.nvb{
  color: white;
}

.footer-basic {
  padding:20px 0;
  background-color:#ffffff;
  color: #557a95;
  margin-top: 5%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:20px;
}

.footer-basic .social > a{
  padding: 0 20px 0 20px;
  display:inline-block;
  font-size: 30px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a :hover {
  opacity:0.8;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color: #557a95;
  margin-bottom:0;
}