body{
    background-color: #1f4068;
    margin: 0;
}

#empty{
    background-color: #1f4068;
    height: 35px;
}

#head{
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    color: #d8e3e7;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 50px 0px;
}

.subhead{
    text-align: center;
    font-family: 'Quicksand', sans-serif; 
    color: #d8e3e7;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 60px 0px 40px 0px;
}

h3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #d8e3e7; 
    font-weight: lighter;
    margin: 0;
    padding-top: 20px;
}

.desc{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #d8e3e7;
    font-size: 15px;
    margin: 10px;
}

#salad, #sushi,  #dessert{
    float: right;
    height: 48%;
    width: 48%;
    margin: 0px 25px;
}

#entree_pic,#main_pic,#drinks{
    float: left;
    height: 48%;
    width: 48%;
    margin: 0px 25px;
}

.soups_salads {
    padding-bottom: 100px;
}

.entree{
    padding-bottom: 50px;
}

.sushi{
    padding-bottom: 70px;
}

.main_course{
    padding-bottom: 150px;
}

.dessert{
    padding-bottom: 180px;
}

.drinks{
    padding-bottom: 300px;
}

.bottom-container {
    background-color: rgba(210, 241, 252, 0.7);
    padding: 35px 0 20px;
    text-align: center;
  }

.bottom-container a{
    font-family: 'Open Sans Condensed', sans-serif;
    padding:20px;
    font-weight: bold;
    color: #f2f2f2;
    background: linear-gradient(to right, #1f4068, #1f4068 50%, #f2f2f2 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

.bottom-container a:hover {
    background-position: 0 100%;
  }

.logo {
    font-family: 'Poiret One', cursive;
    line-height: 20px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #d3e0ea;
    font-size: 40px;
    letter-spacing: 2px;
}

.logo a{
    color: #d3e0ea;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    top: 0px;
}
.menu a {
    position: relative;
    display: inline-block;
    color: #f2f2f2;
    background: linear-gradient(to right, #1f4068, #1f4068 50%, #f2f2f2 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
  }
  
  .menu a:hover {
    background-position: 0 100%;
  }

  
nav ul {
    line-height: 20px;
    list-style: none;
    background:rgba(210, 241, 252, 0.6);
    overflow: hidden;
    color: #d3e0ea;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}


nav ul li {
    display: inline-block;
    padding: 15px 20px;;
}

nav ul li a {
    text-decoration: none;
    color: #d3e0ea;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

