.night {
  background-color: #123C59;
  color: white;
}

.logo {
  width: 7%;
  height: 7%;
  padding: 0.5%;
}

.party1 {
  font-family: Poiret One, cursive;
  font-weight: normal;
  font-size:1.5rem;
  padding-top:10%;
  float: left;
  margin-left: 30%;
}

.party2 {
  width: 450px;
  height: 350px;
  margin-top: 5%;
  margin-right: 31%;
}

.party3 {
  width: 450px;
  height: 350px;
  margin-top: 15%;
  margin-left: 31%;
}

.party4 {
  font-family: Poiret One, cursive;
  font-weight: normal;
  font-size:1.5rem;
  padding-top:15%;
  float: right;
  margin-right: 30%;
}

.text-col {
  margin: 10% 15% 0% 15%;
  width: 15%;
  padding-top: 5%;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poiret One, cursive;
}

.container-fluid {
  color: white;
}

.text {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poiret One, cursive;
}

.container {
  font-family: Poiret One, cursive;
  font-size: 1rem;
  font-weight: lighter;
}

.col {
  width: 200px;
  height: 300px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.contain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.contain p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}

.contain p span.cursor {
  display: inline-block;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.contain p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.footer-basic {
  padding:20px 0;
  background-color:#ffffff;
  color: #557a95;
  margin-top: 20%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:20px;
}

.footer-basic .social > a{
  padding: 0 20px 0 20px;
  display:inline-block;
  font-size: 30px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a :hover {
  opacity:0.8;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color: #557a95;
  margin-bottom:0;
}
